<%= bootstrap_form_with(model: company, inline_errors: true) do |form| %>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
