
<table class="table table-striped mx-auto w-auto">

<tr>
<td>Name</td>
<td><%= @company.name %></td>
</tr>

<tr>
<td>Email</td>
<td><%= @company.email %></td>
</tr>

<tr>
<td>Phone Number</td>
<td><%= @company.phone_number %></td>
</tr>

<tr>
<td>Description</td>
<td><%= @company.description %></td>
</tr>


</table>

<%= link_to 'Edit', edit_company_path(@company), class: "btn btn-secondary text-white" %> |
<%= link_to 'Back', companies_path, class: "btn btn-light" %>
